@font-face {
  font-family: "Open Sans", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
}

body {
  font-family: "Open Sans", sans-serif;
}

/*
 * Navigation bar layout
*/

header {
  position: fixed;
  width: 100%;
  // from 999 to 80 to avoid click when modal show
  z-index: 80;

  .container {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1em auto;

    .logo {
      display: flex;
      flex-direction: column;
      cursor: pointer;

      .main {
        margin: 0;
        transition: 1.2s;
      }

      .sub {
        align-self: end;
        margin-right: 2em;
        transition: 0.2s;
      }
    }

    .logo:hover {
      color: #be6cff;
    }

    nav {
      display: flex;
      .btn {
        cursor: pointer;

        font-size: 1.1em;
        font-weight: bolder;
        padding: 0.7em 1.5em;
        color: white;
        margin-left: 2em;
        background: #be6cff;
        border-radius: 3em;
        border: none;
        transition: 0.5s;

        &:hover {
          background-color: #d5a7fb;
          color: #ffffff;
        }
      }

      .btn2 {
        background: rgba(101, 49, 142, 0.25);
      }
    }
  }
}

.errorClass {
  align-items: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}
