.chat-container {
  z-index: -2;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;

  .chat-scene-container {
    height: 100%;
    z-index: 0;
  }
}

.bg {
  &1 {
    // background: linear-gradient(132deg,
    //     #ffffff 28.72%,
    //     rgb(180 101 243 / 49%) 101.32%);
    background: url(../../../public/backgrounds/bg1.webp);
    background-size: cover;
    
  }

  &2 {
    // background: linear-gradient(230.22deg, #daa9ff 28.72%, #34184a 101.32%);
    background: url(../../../public/backgrounds/bg2.webp);
    background-size: cover;
  }

  &3 {
    // background: linear-gradient(230.22deg, #9e8cac 28.72%, #21132c 101.32%);
    background: url(../../../public/backgrounds/bg3.webp);
    background-size: cover;
  }

  &4 {
    // color: #c6c6c6;
    // background: linear-gradient(78deg,
    //     #78418c 28.72%,
    //     rgb(216 113 228 / 64%) 101.32%);
    background: url(../../../public/backgrounds/bg4.webp);
    background-size: cover;
  }
  &5 {
    background: url(../../../public/backgrounds/bg5.webp);
    background-size: cover;
  }
}

// Chat message input box setup

@import url(//fonts.googleapis.com/icon?family=Material+Icons);

$input-highlight: rgba(#ffffff, 0.3);
$input-color: #856af2;
$input-bar-width: 40vw;
$input-padding: 0.7em;
$input-element-size: 38px;

.input-box-container {
  position: fixed;
  bottom: 5%;
  left: 50%;
  width: $input-bar-width;
  margin-left: calc(-1 * ($input-bar-width / 2));
  z-index: 99;

  .chat-bar {
    background: $input-color;
    box-shadow: 0px 15px 24px rgba(0, 0, 0, 0.3);
    border-radius: $input-element-size;
    padding: $input-padding;
    display: flex;
    overflow: hidden;

    &__speaker {
      height: $input-element-size;
      width: $input-element-size;
      display: flex;
      cursor: pointer;
      justify-content: center;
      align-items: center;
      background: $input-highlight;
      border-radius: 50%;

      .material-icons {
        font-size: 24px;
        color: white;
      }
    }

    &__message {
      width: calc($input-bar-width - 4 * $input-padding - 2 * $input-element-size );
      margin-right: $input-padding;
      margin-left: $input-padding;
      border-radius: 18px;
      background: $input-highlight;
    }

    &__mic {
      position: absolute;
      height: $input-element-size;
      width: $input-element-size;
      display: flex;
      justify-content: center;
      align-items: center;
      color: rgba(#ffffff, 0.8);

      .mic {
        animation: flashing 2.5s infinite linear
      }

      @keyframes flashing {
        0% {color: rgba(#ffffff, 0.2)}
        25% {color: rgba(#ffffff, 0.6)}
        50% {color: rgba(#ffffff, 1)}
        75% {color: rgba(#ffffff, 0.6)}
        100% {color: rgba(#ffffff, 0.2)}
      }
    }

    .sound-wave {
      position: absolute;
      height: $input-element-size;
      width: calc($input-bar-width - 4 * $input-padding - 2 * $input-element-size );
      padding-left: 130px;
      padding-right: 15px;
      padding-top: 10px;
      padding-bottom: 10px;
      pointer-events: none;
    }

    &__input {
      background: transparent;
      border-radius: 18px;
      height: $input-element-size;
      width: 100%;
      border: 0;
      color: white;
      padding: $input-padding;
      padding-left: $input-element-size;

      &::placeholder {
        color: rgba(#ffffff, 0.8);
      }
    }

    &__send {
      height: $input-element-size;
      width: $input-element-size;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      background: $input-highlight;
      border-radius: 50%;

      .material-icons {
        font-size: 24px;
        color: white;
      }
    }
  }
}