.chat-container {
  z-index: -2;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;

  .chat-scene-container {
    height: 100%;
    z-index: 0;
  }
}

.bg {
  &1 {
    background: linear-gradient(
      132deg,
      #ffffff 28.72%,
      rgb(180 101 243 / 49%) 101.32%
    );
  }

  &2 {
    background: linear-gradient(230.22deg, #daa9ff 28.72%, #34184a 101.32%);
  }

  &3 {
    background: linear-gradient(230.22deg, #9e8cac 28.72%, #21132c 101.32%);
  }

  &4 {
    color: #c6c6c6;
    background: linear-gradient(
      78deg,
      #78418c 28.72%,
      rgb(216 113 228 / 64%) 101.32%
    );
  }
}

// Chat message input box setup

@import url(//fonts.googleapis.com/icon?family=Material+Icons);

$input-highlight: rgba(#ffffff, 0.3);
$input-color: #856af2;
$input-bar-width: 40vw;
$input-padding: 0.7em;
$input-element-size: 38px;

.input-box-container {
  &__text {
    position: fixed;
    bottom: 5%;
    left: 50%;
    width: $input-bar-width;
    margin-left: -($input-bar-width / 2);
    z-index: 99;

    .chat-bar {
      background: $input-color;
      box-shadow: 0px 15px 24px rgba(0, 0, 0, 0.3);
      border-radius: $input-element-size;
      padding: $input-padding;
      display: flex;
      // justify-content: space-between;
      overflow: hidden;
      // width: auto;

      &__message {
        width: calc(
          $input-bar-width - 2 * $input-padding - $input-element-size
        );
        padding-right: $input-padding;
      }

      &__input {
        background: $input-highlight;
        height: $input-element-size;
        border-radius: 18px;
        width: 100%;
        border: 0;
        padding: $input-padding;
        color: white;

        &::placeholder {
          color: rgba(#ffffff, 0.5);
        }
      }

      &__send {
        height: $input-element-size;
        width: $input-element-size;
        display: flex;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        background: $input-highlight;
        border-radius: 50%;

        .material-icons {
          font-size: 24px;
          color: white;
        }
      }
    }
  }

  &__speak {
    position: fixed;
    bottom: 5%;
    left: 50%;
    width: $input-bar-width;
    margin-left: -($input-bar-width / 2);
    z-index: 99;
  }
}

.sound-wave {
  display: none;
}
