.setupMainBody {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 2000px;
  height: 100vh;
  width: 100vw;
  margin: auto;

  .setupBox {
    background: rgba(204, 204, 204, 0.3);
    border-radius: 23px;
    max-width: 1050px;
    width: 60vw;
    height: 60vh;
    margin-left: 5em;

    .container {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      margin: 1em auto;
      width: 80%;
      height: 100%;

      .btn {
        font-size: 1.1em;
        font-weight: bolder;
        padding: 0.7em 1.5em;
        margin: auto;
        width: 30%;
        color: white;
        background: #d5a7fb;
        border-radius: 3em;
        border: none;
        transition: 0.5s;
      }

      .btn:hover {
        background-color: #be6cff;
        box-shadow: 12px 0px 41px 4px rgba(101, 49, 142, 0.25);
        color: #ffffff;
      }
    }
  }

  .circleBtn {
    height: 6em;
    width: 6em;
    border: none;
    border-radius: 50%;
    margin-left: 5em;
    transition: 0.5s;
  }

  .circleBtn:hover {
    box-shadow: 12px 0px 41px 4px rgba(101, 49, 142, 0.25);
  }
}

.bg1 {
  background: linear-gradient(104deg, #ffffff 28.72%, #daabff7d 101.32%);
}

.bg2 {
  background: linear-gradient(230.22deg, #daa9ff 28.72%, #34184a 101.32%);
}

.bg3 {
  background: linear-gradient(230.22deg, #9e8cac 28.72%, #21132c 101.32%);
}

.img1 {
  background: url("../../../public/images/female.png") no-repeat center center;
  background-size: 6em 6em;
}
